<ion-view class="records-view">
    <ion-nav-title>
        <span>Consultations</span>
    </ion-nav-title>
    <!--<ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-person">
        </button>
    </ion-nav-buttons>-->
    <ion-content>
        <div class="ctab" style="margin-top:auto;">
            <ion-tabs class="tabs-positive tabs-icon-top">
                <ion-tab title="Book" >
                    <!-- Tab 1 content -->
                    <div class="tabcon2">	
                        <!-- <div class="searchbox">
                            <div class="item item-input-inset" style="border-bottom:0;">
                                <label class="item-input-wrapper">
                                    <input type="text" placeholder="Search..." ng-model="searchKeyword">
                                </label>
                             </div>	
                        </div> -->
                        <div class="list miscellaneous-functionalities">
                            <a class="item  item-icon-right" ui-sref="app.consultation-cards({'id':spec.id, 'res' : 'json'})"  ng-repeat="spec in specializations| orderBy:'specialization' |filter : searchKeyword ">
                                <div>
                                    <span class="stitle">{{spec.specialization}}</span>
                                    <!-- <p class=""><label ng-repeat="focus in spec.focuses">{{focus.focus}}, </label>{{spec.description}}</p>-->
                                </div>
                                <i class="icon ion-ios-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </ion-tab>
                <!-- =========== Upcoming ===========-->
                <ion-tab  title="Current" ng-if="userLogged = 1">
                    {{video_app}}
                    <div class="tabcon2"> 
                        <!-- <div class="searchbox">
                            <div class="item item-input-inset" style="border-bottom:0;">
                                <label class="item-input-wrapper">
                                    <input type="text" placeholder="Search...">
                                </label>
                                <button class="button button-small">
                                    <i class="ion-android-search"></i>
                                </button>
                            </div>	
                        </div> -->
                        <div class="ctab commontab">
                            <ion-tabs class="tabs-positive tabs-icon-top">
                                <ion-tab title="Clinic<br>{{clinic_app.length}}" >
                                    <div class="tabcontainer p0" >
                                        <p class="txt-center">{{clinic_app.length==0 ? 'Nothing to see here. Book a consult to get going.':''}}</p>
                                        <div class="posts-list" ng-repeat="cApp in clinic_app track by $index">
                                            <div  class="list card post-item" ng-repeat="prod in clinic_products[$index]">
                                                <div class="post-content item item-text-wrap p0">
                                                    <a ui-sref="app.current-tab({'id': cApp.appointment_id,'mode': 3})" class="card-content paraspacing" ng-repeat="doc in clinic_doctorsData[$index]">
                                                        <p><strong>{{doc.fname}} {{doc.lname}}</strong><br/>
                                                            <span ng-repeat="spec in doc.specializations">
                                                                {{spec.specialization}} , 
                                                            </span>
                                                        </p>
                                                        <p><strong>Appointment Time : {{cApp.appointments.scheduled_start_time|dateFormat3}}</strong><br/> 
                                                            <span>{{cApp.appointments.scheduled_start_time|time}} To {{cApp.appointments.scheduled_end_time|time}}
                                                            </span>
                                                        </p>
                                                        <p>2 Records Shared by you <br/>
                                                            3 Records Shared by Dr.ABC</p>
                                                        <div class="clr"></div>
                                                    </a>
                                                    <div class="post-actions  post-footer p0">
                                                        <div class="row cardbtn-small p0">
                                                            <div class="col"><a confirmed-click="cancelAppointment(cApp.appointment_id,prod.user_id,3, cApp.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to cancel appointment?" id="{{cApp.appointment_id}}" class="cbtn">Cancel</a></div>
                                                            <div class="col"><a confirmed-click="reschedule(cApp.appointment_id, prod.user_id, 3, cApp.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to reschedule?"  class="cbtn">Reschedule</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-tab>

                                <ion-tab title="Home<br>{{home_app.length}}" >
                                    <div class="tabcontainer p0" >
                                        <p class="txt-center"> {{home_app.length==0 ? 'Nothing to see here. Book a consult to get going.':''}}</p>
                                        <div class="posts-list" ng-repeat="hApp in home_app track by $index">
                                            <div  class="list card post-item" ng-repeat="prod in home_products[$index]">
                                                <div class="post-content item item-text-wrap p0">
                                                    <a ui-sref="app.current-tab({'id': hApp.appointment_id,'mode': 4})" class="card-content paraspacing" ng-repeat="doc in home_doctorsData[$index]">
                                                        <p><strong> {{doc.fname}} {{doc.lname}}</strong><br/>
                                                            <span ng-repeat="spec in doc.specializations">
                                                                {{spec.specialization}}{{$last==true? '': ',&nbsp;'}}
                                                            </span>
                                                        </p>
                                                        <p><strong>Appointment Time : {{hApp.appointments.scheduled_start_time|dateFormat3}}</strong><br/> 
                                                            <span>{{hApp.appointments.scheduled_start_time|time}} To {{hApp.appointments.scheduled_end_time|time}}
                                                            </span>
                                                        </p>
                                                        <p>2 Records Shared by you <br/>
                                                            3 Records Shared by Dr.ABC</p>
                                                        <div class="clr"></div>
                                                    </a>
                                                    <div class="post-actions  post-footer p0">
                                                        <div class="row cardbtn-small p0">
                                                            <div class="col"><a confirmed-click="cancelAppointment(hApp.appointment_id,prod.user_id,4, hApp.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to cancel appointment?" id="{{hApp.appointment_id}}" class="cbtn">Cancel</a></div>
                                                            <div class="col"><a confirmed-click="reschedule(hApp.appointment_id, prod.user_id, 4, hApp.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to reschedule?"  class="cbtn">Reschedule</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-tab>
                                <ion-tab title="Video<br>{{video_app.length}} <br/>"  >
                                    <div class="tabcontainer p0" >
                                        <p class="txt-center">  {{video_app.length==0 ? 'Nothing to see here. Book a consult to get going.':''}}</p>
                                        <div class="posts-list" ng-repeat="vApp in video_app track by $index">
                                            <div  class="list card post-item" ng-repeat="prod in video_products[$index]">
                                                <div class="post-content item item-text-wrap p0">
                                                    <a  ui-sref="app.current-tab({'id': vApp.appointment_id,'mode': 1})" class="card-content paraspacing" ng-repeat="doc in video_doctorsData[$index]">
                                                        <p><strong>{{doc.fname}} {{doc.lname}}</strong><br/>
                                                            <span ng-repeat="spec in doc.specializations">
                                                                {{spec.specialization}} , 
                                                            </span>
                                                        </p>
                                                        <p><strong>Appointment Time : {{vApp.appointments.scheduled_start_time|dateFormat3}}</strong><br/> 
                                                            <span>{{vApp.appointments.scheduled_start_time|time}} To {{vApp.appointments.scheduled_end_time|time}}
                                                            </span>
                                                        </p>
                                                        <p>2 Records Shared by you <br/>
                                                            3 Records Shared by Dr.ABC</p>
                                                        <div class="clr"></div>
                                                    </a>
                                                    <div class="post-actions  post-footer p0">
                                                        <div class="row cardbtn-small p0">
                                                            
                                                            <div class="col"><a confirmed-click="cancelAppointment(vApp.appointment_id,prod.user_id,1, vApp.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to cancel appointment?" id="{{vApp.appointment_id}}" class="cbtn">Cancel</a></div>
                                                            <div class="col"><a confirmed-click="reschedule(vApp.appointment_id, prod.user_id, 1, vApp.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to reschedule?" class="cbtn">Reschedule</a></div>
                                                            <div ng-if="vApp.appointments.mode==1" class="col"><a  class="cbtn" ng-click="joinVideo(vApp.appointments.mode,video_time[$parent.$index],video_end_time[$parent.$index],vApp.appointments.id)"> Join</a></div>
                                                        </div>
                                                        <!---  ng-if="mode == 1 && curTime <= video_time[$parent.$index] || curTime >= video_end_time[$parent.$index]"  ui-sref="app.patient-join({'id': app[0].appointments.id, 'mode': mode})" ui-sref-opts="{reload: true}"  -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-tab>
                                <ion-tab title="Chat<br>{{chat_app.length}} <br/>" >
                                    <div class="tabcontainer p0" >
                                        <p class="txt-center">  {{chat_app.length==0 ? 'Nothing to see here. Book a consult to get going.':''}} </p>
                                        <div class="posts-list" ng-repeat="chApp in chat_app">
                                            <div  class="list card post-item" ng-repeat="prod in chat_products[$index]">
                                                <div class="post-content item item-text-wrap p0">
                                                    <a  ui-sref="app.current-tab({'id': chApp.id, 'mode': 2})" class="card-content paraspacing" ng-repeat="doc in chat_doctorsData[$index]">
                                                        <p><strong>{{doc.fname}} {{doc.lname}}</strong><br/>
                                                            <span ng-repeat="spec in doc.specializations">
                                                                {{spec.specialization}} , 
                                                            </span>
                                                        </p>
                                                        <p><strong>Appointment : {{chApp.appointments.scheduled_start_time|dateFormat3}}</strong><br/> 
                                                            <span>Valid From {{chApp.appointments.scheduled_start_time|datetime}} To {{chApp.appointments.scheduled_end_time|datetime}}
                                                            </span>
                                                        </p>
                                                        <p>2 Records Shared by you <br/>
                                                            3 Records Shared by Dr.ABC</p>
                                                        <div class="clr"></div>
                                                    </a>
                                                    <div class="post-actions  post-footer p0">
                                                        <div class="row cardbtn-small p0">
                                                            <div  class="col"><a ui-sref="app.join-chat({'id': chApp.appointment_id, 'mode': mode})"  class="cbtn">Start Chat</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-tab>
                            </ion-tabs>
                        </div>
                    </div>
                </ion-tab>
                <ion-tab title="Past" ng-if="userLogged = 1">
                    <div class="tabcontainer">
                        <p class="txt-center"> <span>Coming Soon</span></p>
                    </div>
                </ion-tab>
            </ion-tabs>
        </div>
    </ion-content>
</ion-view>

