<ion-view class="records-view">
    <ion-nav-title>
        <span>Dr. {{doctor[0].fname}} {{doctor[0].lname}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-person">
        </button>
    </ion-nav-buttons>

    <div ng-repeat="doc in doctor">
        <div class="profile-head">
            <div class="card-content">
                <div class="rating"><i class="ion-star active"></i> <i class="ion-star active"></i> <i class="ion-star active"></i> <i class="ion-star"></i> <i class="ion-star"></i></br>15 Reviews</div>
                <div class="card-left">	<img class="user-image-circle" ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg"></div>
                <div class="card-detail txt-left">
                    <p><strong>Dr. {{doc.fname}} {{doc.lname}}</strong><br/>
                        <span ng-repeat="spec in doc.specializations">
                            {{spec.specialization}}{{$last==true? '': ',&nbsp;'}}
                        </span></p>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>


    <ion-content>
        <div ng-repeat="doc in doctor">

            <ion-slide-box show-pager="true">
                <ion-slide>
                    <div class="list card profile-card">
                        <div class="item item-body">
                            <div class="row txt-left">
                                <div class="col"><p><strong>Experience</strong><br/>{{doc.exp}} Years of Experience</p></div>	
                                <div class="col"><p><strong>Qualification</strong><br/>
                                        <span ng-repeat="qual in doc.qualifications">{{qual.qualification}}{{$last==true? '': ',&nbsp;'}}</span>
                                    </p></div>	
                            </div>
                            <div class="row txt-left">
                                <div class="col"><p><strong>Languages</strong><br/>
                                        <span ng-repeat="lang in doc.languages">
                                            {{lang.language}}{{$last==true? '': ',&nbsp;'}}
                                        </span></p></div>	
                                <div class="col"><p><strong>Focus Area</strong><br/>
                                        <span ng-repeat="focus in doc.focuses">
                                            {{focus.focus}}{{$last==true? '': ',&nbsp;'}}
                                        </span></p></div>	
                            </div>
                        </div>
                    </div>
                </ion-slide>

                <ion-slide>
                    <div class="list card profile-card">
                        <div class="item item-body">
                            <div class="row txt-left">
                                <div class="col"><p><strong>Experience</strong><br/>{{doc.exp}} Years of Experience</p></div>	
                                <div class="col"><p><strong>Qualification</strong><br/>
                                        <span ng-repeat="qual in doc.qualifications">{{qual.qualification}}{{$last==true? '': ',&nbsp;'}}</span></p></div>	
                            </div>
                            <div class="row txt-left">
                                <div class="col"><p><strong>Languages</strong><br/><span ng-repeat="lang in doc.languages">
                                            {{lang.language}}{{$last==true? '': ',&nbsp;'}}
                                        </span></p></div>	
                                <div class="col"><p><strong>Focus Area</strong><br/>
                                        <span ng-repeat="focus in doc.focuses">
                                            {{focus.focus}}{{$last==true? '': ',&nbsp;'}}
                                        </span></p></div>	
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div class="ctab profile">
                <ion-tabs class="tabs-positive tabs-icon-top" >
                    <div>
                        <div>
                            <ion-tab icon="ion-videocamera" title="Instant<br> video <br> INR 300" >
                                <!-- Tab 1 content -->
                                <div class="tabcontainer"> 
                                    <p>
                                        <br/>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <br/>
                                    <p>
                                        <button class="button button-block button-positive">Check Availability</button>
                                    </p>
                                </div>
                        </div>
                        </ion-tab>
                    </div>
                    <ion-tab icon="ion-checkmark" title="Schedule <br>INR 400"  >
                        <div class="tabcontainer">
                            <!-- Schedule-->
                            <div class="schedule">
                                <ion-tabs class="tabs-positive tabs-icon-top">
                                    <div ng-repeat="serv in services">
                                        <ion-tab  title="{{videoProd.mode}} <br>INR {{videoProd.price}}" ng-if="serv == 1" >
                                            <div class="tabcontainer"> 
                                                <ul class="clist">
                                                    <li>{{videoProd.desc}}</li>
                                                    <li ng-repeat="vInc in videoInc track by $index">{{vInc.mode}}, {{vInc.desc}},
                                                        <span ng-if="vInc.discount < 100">Discount : {{vInc.discount}} %</span>, {{vInc.validity_in_days}} Days
                                                    </li>
                                                </ul>

                                                <div class="clr"></div>
                                                <div class="item item-body" ng-repeat="vs in videoSch track by $index">
                                                    <strong>Available on </strong>
                                                    <ul class="wk">
                                                        <li ng-repeat="day in vs.service_details| orderBy:'' | groupBy:['day_of_week']">
                                                            <strong ng-show="day.group_by_CHANGED">{{ day.day_of_week|limitTo:1}} : </strong>
                                                            {{day.from|limitTo:2}} - {{day.to|limitTo:2}}
                                                        </li>
                                                    </ul>	
                                                    <div class="sche-date">
                                                        <div class="leftarrow" ng-click="getFirstSlots(vs.supersaas_id, $index, serv)"><i class="icon ion-arrow-left-c"></i></div> 
                                                        <input type="date" ng-model="schdate[$index]" value="schdate[$index]|dateFormat1"/>
                                                        <input type="hidden" ng-model="nextdate[$index]" value="nextdate[$index]|datetime"/>
                                                        <div class="rightarrow" ng-click="getNextSlots(nextdate, vs.supersaas_id, $index, serv)"><i class="icon ion-arrow-right-c"></i></div>
                                                    </div>
                                                    <div ng-if="schV[$index] == vs.supersaas_id">
                                                        {{$index}}=====<br/>{{vSch[$index]}}
                                                        {{vSch[$index]==''? 'No slots available':''}}
                                                        <ul class="timesheet"  ng-repeat="slot in vSch[$index] track by $index">
                                                            <div ng-repeat="slt in slot track by $index" ng-if="slt[$index]< nextdate">{{$index}}</div>
                                                            <li onclick="toggleclass(this);" ng-repeat="slt in slot" ng-if="slt['sdate'] < nextdate" ng-model="timeslot" ng-click="bookSlot(slt['start'][0], slt['finish'][0], vs.supersaas_id)"> 
                                                                {{slt['start'][0]|time}} - {{slt['finish'][0]|time}}                                                          
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="section-footer">
                                                    <a class="button button-full button-positive" ng-click="bookAppointment(videoProd.id)">Proceed
                                                        <!---<a ui-sref="app.payment" >Proceed</a>-->
                                                    </a>
                                                </div>	
                                            </div>
                                        </ion-tab>
                                        <!-- clinic -->
                                        <ion-tab  title="{{clinicProd.mode}} <br>INR {{clinicProd.price}}" ng-if="serv == 3">
                                            <div class="tabcontainer"> 
                                                <ul class="clist">
                                                    <li>{{clinicProd.desc}}</li>
                                                    <li ng-repeat="cInc in clinicInc track by $index">{{cInc.mode}}, {{cInc.desc}},
                                                        <span ng-if="cInc.discount < 100">Discount : {{cInc.discount}} %</span>, {{cInc.validity_in_days}} Days
                                                    </li>
                                                </ul>

                                                <div class="clr"></div>
                                                <div class="item item-body" ng-repeat="cs in clinicSch track by $index">
                                                    <p><strong>Clinic Address:</strong>
                                                        <br>{{cs.address}}, {{cs.city}} - {{cs.pincode}} 	
                                                    </p>
                                                    <strong>Available on </strong>
                                                    <ul class="wk">
                                                        <li ng-repeat="day in cs.service_details| orderBy:'' | groupBy:['day_of_week']">
                                                            <strong ng-show="day.group_by_CHANGED">{{ day.day_of_week|limitTo:1}} : </strong>
                                                            {{day.from|limitTo:2}} - {{day.to|limitTo:2}}
                                                        </li>
                                                    </ul>	
                                                    <div class="sche-date">
                                                        <div class="leftarrow" ng-click="getFirstSlots(cs.supersaas_id, $index, serv)"><i class="ion-android-arrow-back"></i></div> 
                                                        <input type="date" ng-model="schCdate[$index]" value="schCdate[$index]|dateFormat1"/>
                                                        <input type="hidden" ng-model="nextCdate[$index]" value="nextCdate[$index]|datetime"/>
                                                        <div class="rightarrow" ng-click="getNextSlots(nextCdate[$index], cs.supersaas_id, $index, serv)"><i class="ion-android-arrow-forward"></i></div> 
                                                    </div>
                                                    <div ng-if="schC[$index] == cs.supersaas_id">
                                                        {{$index}}<br/>
                                                        {{cSch[$index]}}
                                                        {{cSch[$index]==''? 'No slots available':''}}
                                                        <ul class="timesheet" ng-model="cSch[$index]"  ng-repeat="(key, slot) in cSch[$index] track by $index">
                                                            <li onclick="toggleclass(this);" ng-repeat="slt in slot track by $index" ng-if="slt['sdate'] < nextCdate" ng-model="timeslot" ng-click="bookSlot(slt['start'][0], cs.supersaas_id)"s> 
                                                                {{slt['start'][0]|time}}                                                     
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                                <div class="section-footer">
                                                    <a class="button button-full button-positive" ng-click="bookAppointment(clinicProd.id)">Proceed
                                                        <!---<a ui-sref="app.payment" >Proceed</a>-->
                                                    </a>
                                                </div>	
                                            </div>
                                        </ion-tab>
                                        <!-- End clinic -->
                                        <!-- Home -->
                                        <ion-tab  title="{{homeProd.mode}} <br>INR {{homeProd.price}}" ng-if="serv == 4">
                                            <div class="tabcontainer">  
                                                <ul class="clist">
                                                    <li>{{homeProd.desc}}</li>
                                                    <li ng-repeat="hInc in homeInc track by $index">{{hInc.mode}}, {{hInc.desc}},
                                                        <span ng-if="hInc.discount < 100">Discount : {{hInc.discount}} %</span>, {{hInc.validity_in_days}} Days
                                                    </li>
                                                </ul>

                                                <div class="clr"></div>
                                                <div class="item item-body" ng-repeat="vs in homeSch">
                                                    <strong>Available on </strong>
                                                    <ul class="wk">
                                                        <li ng-repeat="day in vs.service_details| orderBy:'' | groupBy:['day_of_week']">
                                                            <strong ng-show="day.group_by_CHANGED">{{ day.day_of_week|limitTo:1}} : </strong>
                                                            {{day.from|limitTo:2}} - {{day.to|limitTo:2}}
                                                        </li>
                                                    </ul>	
                                                    <div class="sche-date">
                                                        <div class="leftarrow"><i class="ion-android-arrow-back"></i></div> 
                                                        <input type="date" class="" value="25/1/2016" />
                                                        <div class="rightarrow"><i class="ion-android-arrow-forward"></i></div> 
                                                    </div>
                                                    <ul class="timesheet" ng-if="schH[$index] == hs.supersaas_id" ng-repeat="(key, slot) in hSch">
                                                        <li ng-repeat="(k, slt) in slot track by $index" > 
                                                            <span ng-repeat="(tk, tv) in slt" ng-model="timeslot" ng-click="bookSlot(tv[0], vs.supersaas_id)" ng-if="tk == 'start'">
                                                                {{tv[0]| time}}
                                                                <input type="hidden" ng-model="schDate" ng-value="tv[0]" />
                                                            </span>                                                           
                                                        </li>
                                                    </ul>
                                                </div>
                                                <a class="button button-full button-positive" ng-click="bookAppointment(homeProd.id)">Proceed
                                                    <!---<a ui-sref="app.payment" >Proceed</a>-->
                                                </a>
                                            </div>
                                        </ion-tab>
                                    </div>
                                </ion-tabs>
                            </div>
                            <!-- End Schedule-->
                        </div>
                    </ion-tab>
                    <ion-tab icon="ion-chatbubble" title="Chat <br/>INR 500" >
                        <div class="tabcontainer">
                            Under Construction	
                        </div>
                    </ion-tab>
                    <ion-tab icon="ion-cube" title="Packages " >
                        <div class="tabcontainer">
                            Under Construction	
                        </div>
                    </ion-tab>
                </ion-tabs>
            </div>
        </div>
    </ion-content>
</ion-view>