<ion-view class="add-category-view">
    <ion-nav-title>
        <span>Add Record ({{record.category}})</span>
    </ion-nav-title>
    <ion-content>
        <ul class="list mtop40 addform">
            <!-- <div class="item item-divider">{{record.category}}</div> -->
            <form ng-submit="submit()" name="recordAdd" id="addrecords" enctype="multipart/form-data" >
                <input type="hidden" ng-model="record.recordUser" value="{{userId}}" name="userId" />
                <input type="hidden" ng-model="record.recordCat" value="{{category}}" name="recordCat" />
                <!--<div ng-repeat="field in fields" ng-bind-html="field"></div>-->
                <div ng-repeat="field in fields" >
                    <div ng-if="field.is_dependent == 1 && field.field == 'Prescribed By' || field.field == 'Measured By' || field.field == 'Referred By' || field.field == 'Performed By' || field.field == 'Consultant'">
                        <label class="item item-input item-select">
                            <div class="input-label"> Select {{field.field}}</div>
                            <select name="{{field.name}}" id="{{field.name}}" ng-model="fields.field.name" ng-change="addOther(field.name, field.field, fields.field.name)">
                                <option ng-repeat="doc in doctrs" value="{{doc.id}}">{{doc.fname}}</option>
                            </select>
                        </label>
                    </div>
                    <div ng-if="field.is_dependent == 1 && field.field == 'Conducted By'">
                        <label class="item item-input item-select">
                            <div class="input-label"> Select {{field.field}}</div>
                            <select name="{{field.name}}" id="{{field.name}}" ng-model="records.field.name" ng-change="addOther(field.name, field.field, records.field.name)">
                                <option ng-repeat="doc in doctrs" value="{{doc.id}}">{{doc.fname}}</option>
                            </select>
                        </label>
                    </div>
                    <div ng-if="field.is_dependent == 1 && field.field == 'Related Problem'">
                        <label class="item item-input item-select">
                            <div class="input-label"> Select {{field.field}}</div>
                            <select name="{{field.name}}" id="{{field.name}}" ng-model="prob.record_id" ng-change="addOther(field.name, field.field, prob.record_id)">
                                <option ng-repeat="prob in problems"  value="{{prob.record_id}}">{{prob.value}}</option>
                            </select>
                        </label>
                    </div>
                    <div ng-if="field.is_dependent == 0">
                        <div ng-if="field.field_types.value == 'text'">                            
                            <div ng-if="field.field == 'Result'">                        
                            <label class="item item-input" >
                                <div class="input-label"> Enter {{field.field}}</div>
                                <input type="text" placeholder="Enter From" name="{{field.name}}-1" required/>
                                <input type="text" placeholder="Enter To" name="{{field.name}}-2" required />
                            </label>
                        </div>
                        <div ng-if="field.multi_value == 0">
                            <label class="item item-input" ng-if="field.field=='Name'">
                            <span class="input-label" >{{field.field}}</span>
                                <input type="text" placeholder="Enter {{field.field}}" id="{{field.name}}"  name="{{field.name}}" maxlength="{{max_length}}"/>                            
                            </label>
                            <label class="item item-input item-floating-label" ng-if="field.field!='Name'">
                            <span class="input-label" >Enter {{field.field}}</span>
                                <input type="text" placeholder="Enter {{field.field}}" id="{{field.name}}"  name="{{field.name}}" maxlength="{{max_length}}"/>                            
                            </label>
                            </div>
                            <div  ng-if="field.multi_value == 1">
                                <label class="item item-input">
                                    <input type="text" placeholder="Enter {{field.field}}" id="{{field.name}}" class="toClone"  name="{{field.name}}[]" />                                
                                </label>
                                <button type="button" class="button button-small addbtn" ng-click="addNewElement(field.name)">Add New</button>
                            </div>
                        </div>
                        <div ng-if="field.field_types.value == 'range'">                        
                            <label class="item item-input" ng-if="field.multi_value == 0">
                                <div class="input-label"> Enter {{field.field}}</div>
                                <input type="numeric" placeholder="Enter Min" name="{{field.name}}-1" required/>
                                <input type="numeric" placeholder="Enter Max" name="{{field.name}}-2" required />
                            </label>
                        </div>

                        <div ng-if="field.field_types.value == 'file'">                        
                            <label class="item item-input" ng-if="field.multi_value == 0">
                            <span class="input-label" >Enter {{field.field}}</span>
                                <input type="file" placeholder="Enter {{field.field}}" id="{{field.name}}"  name="{{field.name}}" />                            
                            </label>
                            <div  ng-if="field.multi_value == 1">
                                <label class="item item-input" ng-if="field.multi_value == 1">
                                <span class="input-label" >Enter {{field.field}}</span>
                                    <input type="file" placeholder="Enter {{field.field}}" multiple="" id="{{field.name}}"  name="{{field.name}}[]" />
                                </label>
                            </div>
                        </div>
                        <div ng-if="field.field_types.value == 'files'">                        
                            <label class="item item-input" ng-if="field.multi_value == 0">
                            <span class="input-label" >Enter {{field.field}}</span>
                                <input type="file" placeholder="Enter {{field.field}}" id="{{field.name}}"  name="{{field.name}}" />                            
                            </label>
                            <div  ng-if="field.multi_value == 1">
                                <label class="item item-input" ng-if="field.multi_value == 1">
                                <span class="input-label" >Enter {{field.field}}</span>
                                    <input type="file" placeholder="Enter {{field.field}}" id="{{field.name}}" class="toClone"  name="{{field.name}}[]" />
                                    <button type="button" class="button button-small addbtn" ng-click="addNewElement(field.name)">Add New</button>
                                </label>
                            </div>
                        </div>
                        <div ng-if="field.field_types.value == 'number'"> 
                            <div ng-if="field.field == 'Frequency'">
                                <label class="item item-input item-select">
                                    <div class="input-label"> Select {{field.field}}</div>
                                    <input type="number" placeholder="Enter {{field.field}}" id="{{field.name}}"  name="{{field.name}}" minlength="1" />
                                    <select name="freq-duration" >
                                        <option value="Days">Days</option>
                                        <option value="Weeks">Week</option>
                                        <option value="Months">Months</option>
                                        <option value="Lifetime">Lifetime</option>
                                    </select>
                                </label>
                            </div>
                            <label class="item item-input" ng-if="field.multi_value == 0 && field.field != 'Frequency' ">
                            <span class="input-label" >Enter {{field.field}}</span>
                                <input type="number" placeholder="Enter {{field.field}}" id="{{field.name}}" name="{{field.name}}" />                            
                            </label>
                            <div  ng-if="field.multi_value == 1">
                                <label class="item item-input" ng-if="field.multi_value == 1">
                                <span class="input-label" >Enter {{field.field}}</span>
                                    <input type="number" placeholder="Enter {{field.field}}" id="{{field.name}}" class="toClone"  name="{{field.name}}[]" />
                                    <button type="button" class="button button-small addbtn" ng-click="addNewElement(field.name)">Add New</button>
                                </label>
                            </div>
                        </div>
                        <div ng-if="field.field_types.value == 'date'">                        
                            <label class="item item-input item-stacked-label"><span class='input-label'>{{field.field}}</span>
                                <input type="date" placeholder="Enter {{field.field}}" id="{{field.name}}" value="{{curTime|dateFormat}}"  name="{{field.name}}" />                            
                            </label>

                        </div>
                        <div ng-if="field.field_types.value == 'time'">                        
                            <label class="item item-input" ng-if="field.multi_value == 0">
                            <span class="input-label" >Enter {{field.field}}</span>
                                <input type="time" placeholder="Enter {{field.field}}" id="{{field.name}}"  name="{{field.name}}" />                            
                            </label>
                            <label class="item item-input" ng-if="field.multi_value == 1">
                            <span class="input-label" >Enter {{field.field}}</span>
                                <input type="time" placeholder="Enter {{field.field}}" id="{{field.name}}" class="toClone"  name="{{field.name}}[]" />
                                <button type="button" class="button button-small addbtn" ng-click="addNewElement(field.name)">Add New</button>
                            </label>
                        </div>
                        <div ng-if="field.field_types.value == 'textarea'">
                            <label class="item item-input item-floating-label " ng-if="field.multi_value == 0">
                            <span class="input-label" >Enter {{field.field}}</span>
                                <textarea placeholder="Enter {{field.field}}" name="{{field.name}}" maxlength="{{max_length}}" rows="4" cols="50"></textarea>
                            </label>
                            <div  ng-if="field.multi_value == 1">
                                <label class="item item-input  item-floating-label" >
                                <span class="input-label" >Enter {{field.field}}</span>
                                    <textarea placeholder="Enter {{field.field}}" name="{{field.name}}" rows="4" cols="50"></textarea>
                                </label>
                            </div>
                        </div>
                        <div ng-if="field.field_types.value == 'select'">                        
                            <label class="item item-input item-select" ng-if="field.multi_value == 0">
                                <div class="input-label"> Select {{field.field}}</div>
                                <select ng-init="selData = (field.field_values).split(',')" name="{{field.name}}">
                                <option value="0"> Select {{field.field}}</option>
                                    <option ng-repeat="sel in selData" value="{{sel}}"> {{sel}} </option>
                                </select>
                            </label>
                            <label class="item item-input item-select" ng-if="field.multi_value == 1">
                                <select ng-init="selData = (field.field_values).split(',')" name="{{field.name}}[]" multiple="">
                                    <option ng-repeat="sel in selData"> {{sel}} </option>
                                </select>
                            </label>
                        </div>                    
                        <div ng-if="field.field_types.value == 'radio'">
                            <ion-list>
                                <div class="row" ng-init="radioData = (field.field_values).split(',')" ng-model="radioData">                   
                                    <div class="col cradio" ng-repeat="rad in radioData"><ion-radio  name="{{field.name}}" value="{{rad}}">{{rad}}</ion-radio></div>
                                </div>
                            </ion-list>
                        </div>
                        <div ng-if="field.field_types.value == 'checkbox'">
                            <ion-list ng-init="checkData = (field.field_values).split(',')" ng-model="checkData">
                                <ion-checkbox ng-repeat="chk in checkData" name="{{field.name}}" value="{{chk}}">{{chk}}</ion-checkbox>
                            </ion-list>
                        </div>
                    </div>
                </div>
                <!--<div class="item item-divider">Add files</div>                
                <button class="button button-block button-dark" ng-click="selImages()" type="button">
                    Select Images
                </button>
                <div class="list card" ng-repeat="img in images">
                    <div class="item item-image">
                        <img ng-src="{{img}}">
                    </div>
                </div>--->
				
              <div class="m10"><button  class="button button-block button-positive">
                    Submit
                </button>
				
			</div> 
				
				
            </form>
			
        </ul>
		
    </ion-content>
	
</ion-view>
