<ion-view class="records-view">
    <ion-nav-title>
        <span>Records</span>
    </ion-nav-title>

    <div class="item item-divider mtop44" style="font-size: 18px; min-height: 45px; text-align:center;">
    <select class="selectheader" ng-model="cat" ng-options="c as cat.categories.category for cat in category" ng-change="getRecords(cat.categories.id)">
    </select>
    </div>
    <div class="bar bar-subheader cbar divider-2" style="margin-top:45px;">
        <div class="row">
            <div class="col-50"><a  ui-sref="app.filter"><h4 class="subhead"><i class="icon ion-funnel"></i> Filter</h4></a></div>
            <div class="col-50"><h4 class="subhead">Sort <i class="icon ion-ios-arrow-thin-down"></i></h4> </div>
        </div>
    </div>

    <ion-content>
       

    </ion-content>
    <div class="footerbar">
        <a class="button"><i class="icon ion-trash-b"></i> Delete</a>
        <a class="button"><i class="icon ion-android-share-alt"></i> Share</a>
        <a class="button" ng-controller="AdsCtrl" ng-click="manageAdMob()" ><i class="icon ion-android-add-circle"></i> Add</a>
    </div>
</ion-view>

